<mat-toolbar fxLayoutAlign="space-between center">
  <div>
    <button mat-icon-button (click)="toggleSidenav.emit()" class="menu-icon">
      <mat-icon fontSet="mdi" fontIcon="mdi-menu"></mat-icon>
    </button>
    <a routerLink="/" class="site-title">Splicer</a>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <a mat-icon-button matTooltip="切り抜きを作成" routerLink="/clip/new">
      <mat-icon fontSet="mdi" fontIcon="mdi-video-plus"></mat-icon>
    </a>

    <div>
      <ng-container *ngIf="auth.currentUser | async as user; else notLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <img class="avatar" [src]="user.avatarUrl" alt="プロフィールアイコン">
        </button>

        <mat-menu #userMenu>
          <a mat-menu-item routerLink="/me">
            <mat-icon fontSet="mdi" fontIcon="mdi-account-box"></mat-icon>
            <span>マイページ</span>
          </a>

          <button mat-menu-item (click)="auth.signOut()">
            <mat-icon fontSet="mdi" fontIcon="mdi-logout"></mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-template #notLoggedIn>
        <button mat-stroked-button (click)="auth.signInWithTwitter()" class="button-with-icon">
          <mat-icon fontSet="mdi" fontIcon="mdi-account-circle"></mat-icon>
          <span>ログイン</span>
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
