mat-toolbar {
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
}

img.avatar {
  --avatar-size: 32px;

  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
}

.button-with-icon {
  padding-left: 7px;
  padding-right: 7px;
}

.button-with-icon mat-icon {
  margin-right: 7px;
}

.menu-icon {
  margin-left: -12px;
  margin-right: 12px;
}

.site-title {
  text-decoration: none;
  color: inherit;
}
