@import 'src/_variables';

$border-color: map-get($foreground, divider);

.container {
  border: 1px solid $border-color;
}

mat-toolbar {
  height: 50px;
  font-size: 1rem;
}

[appInfiniteScrollContainer] {
  max-height: 100%;
  overflow-y: auto;
}

[mat-list-item] {
  height: 56px !important;
}

[mat-list-item] + [mat-list-item] {
  margin-top: 3px;
}

[mat-list-item] img {
  height: 100%;
  margin-right: 10px;
}

[mat-list-item] .clip-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.progress-spinner-container {
  overflow: hidden;
}
