<div fxLayout="column" class="container">
  <mat-toolbar>おすすめの切り抜き</mat-toolbar>

  <mat-nav-list
    appInfiniteScrollContainer
    (loading)="isLoading = $event"
    fxFlex="initial">
    <ng-container *appInfiniteScroll="let relatedClip of relatedClips">
      <a mat-list-item
         *ngIf="relatedClip.id !== clip.id"
         [routerLink]="relatedClip.url"
      >
        <img [src]="relatedClip.thumbnailUrl">
        <div class="clip-title">{{ relatedClip.title }}</div>
      </a>
    </ng-container>


    <div *ngIf="isLoading" class="progress-spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-nav-list>
</div>
