// Refer to https://material.angular.io/guide/theming for theming Angular Material app in general.
// Refer to https://stackoverflow.com/a/49434227 for how to set up the background colors.

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-purple, 200);
$accent: mat-palette($mat-teal, 200);
$warn: mat-palette($mat-red, 200);
$background-color-map: (
  app-bar: #303030,
  background: map_get($mat-grey, 900),
  status-bar: black,
  hover: rgba(white, 0.04),
  card: map_get($mat-grey, 800),
  dialog: map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);


// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent, $warn);

// Insert custom background color
$background: map-get($theme, background);
$background: map-merge($background, $background-color-map);
$theme: map-merge($theme, (background: $background));

// Include theme styles for core and each component used in your app.
@include angular-material-theme($theme);
