<app-container sidenavOpened=true>
  <div id="playlist-editor-container"
       fxLayout="column" fxLayout.gt-sm="row"
       *ngIf="playlist | async as playlist">
    <div
      fxFlex="noshrink" fxFlex.gt-sm="0 0 320px"
      fxLayoutGap.sm="20px"
      fxLayout="column" fxLayout.sm="row"
      ngStyle.lt-md="margin: 16px;" ngStyle.gt-sm="margin: 32px;"
    >
      <a [routerLink]="'/pl/' + playlist.id" class="thumbnail-container">
        <img [src]="playlist.thumbnailUrl">
      </a>

      <div fxFlex="noshrink" fxLayout="column" class="metadata-editor">
        <div *ngIf="!isEditingTitle" fxLayout="row" fxLayoutAlign="space-between center">
          <h1 class="playlist-title">{{playlist.title}}</h1>
          <button mat-icon-button (click)="isEditingTitle = true">
            <mat-icon fontSet="mdi" fontIcon="mdi-pencil" matTooltip="タイトルを変更"></mat-icon>
          </button>
        </div>

        <div *ngIf="isEditingTitle" class="title-change-form">
          <mat-form-field appearance="standard" style="width: 100%;">
            <input
              matInput
              autocomplete="off"
              [value]="playlist.title"
              #playlistTitle
            >
            <mat-error></mat-error>
          </mat-form-field>

          <div>
            <button mat-button (click)="isEditingTitle = false">キャンセル</button>
            <button mat-button color="primary" (click)="titleChange(playlistTitle.value)">保存</button>
          </div>
        </div>

        <mat-form-field appearance="standard">
          <mat-select [value]=playlist.visibility (selectionChange)="accessPolicyChange($event)">
            <mat-option value="public">
              <mat-icon fontSet="mdi" fontIcon="mdi-eye"></mat-icon>
              <span>公開</span>
            </mat-option>
            <mat-option value="limited">
              <mat-icon fontSet="mdi" fontIcon="mdi-eye-off"></mat-icon>
              <span>限定公開</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <app-playlist-sorter
      [clips]="playlist.clips"
      (clipsChange)="clipsChange($event)"
      (thumbnailChange)="thumbnailChange($event)"
      (clipRemoved)="clipRemoved($event)"
      fxFlex.gt-sm
    ></app-playlist-sorter>
  </div>
</app-container>
