#playlist-editor-container {
  height: 100%;
}

app-playlist-sorter {
  background: black;
  height: 100%;
  min-width: 0;
}

.thumbnail-container img {
  width: 100%;
}

.metadata-editor {
  margin-top: 10px;
  min-width: 0;
}

.playlist-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title-change-form button {
  display: inline;
}

.title-change-form ::ng-deep .mat-form-field-infix {
  padding-top: 0;
  border-top: none;
}

.title-change-form ::ng-deep .mat-form-field-flex {
  padding-top: 0;
}

.title-change-form ::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
  font-size: 24px;
  line-height: 32px;
}
