@import 'src/_variables';

header {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: mat-color($primary, darker);

  text-align: center;
}

header h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
}

header button {
  margin-top: 20px;
}

.main-background {
  padding: 40px;
}

main {
  max-width: 600px;
  margin: auto;
}

main .merit + .merit {
  margin-top: 60px;
}

main .merit h2 {
  border-left: 5px solid mat-color($primary);
  padding-left: 8px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

main .merit p {
  font-size: 13px;
}
