<app-container sidenavOpened=true>
  <header>
    <h1>Splicer</h1>
    <p>VTuber 切り抜き動画共有サービス</p>
    <button mat-raised-button routerLink="/clip/new">切り抜きを作成</button>
  </header>

  <div class="main-background">
    <main>
      <div class="merit">
        <h2>簡単に切り抜き</h2>
        <p>
          YouTube 動画の URL と、切り抜きの開始/終了時刻を入力するだけで作成できます。
          ユーザー登録やアプリのダウンロードなどは必要ありません。
        </p>
      </div>

      <div class="merit">
        <h2>プレイリスト機能</h2>
        <p>
          複数の切り抜きをプレイリストにまとめて自動再生できます。
          ダイジェスト動画や、カラオケ配信のまとめなどに最適です。
        </p>
      </div>

      <div class="merit">
        <h2>Twitter 共有</h2>
        <p>
          切り抜きやプレイリストの URL を貼り付けてツイートすると、
          Twitter 上で直接再生できるプレイヤーが表示されます。
        </p>
      </div>

      <div class="merit">
        <h2>元動画の収益に貢献</h2>
        <p>
          当サイトでは、YouTube 公式の埋め込みプレイヤーを使って切り抜きを再生します。
          YouTube 上で普通に見るのと同じように、元動画の再生数や広告収益に繋がります。
        </p>
      </div>
    </main>
  </div>
</app-container>
