@import 'src/_variables';


.main-background {
  padding: 40px;
}

main {
  max-width: 720px;
  margin: auto;
}

h2 {
  border-left: 3px solid mat-color($primary);
  padding-left: 8px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

section {
  margin-top: 40px;
}

a {
  color: inherit;
}
