<app-container sidenavOpened=true>
  <div class="main-background">
    <main>
      <section>
        <h2>お問い合わせ先</h2>
        <p>
          <a href="https://twitter.com/Splicer_dev">公式 Twitter アカウント</a>へのダイレクトメッセージ、
          またはメールアドレス <a href="mailto:splicer.developer@gmail.com">splicer.developer@gmail.com</a> までご連絡ください。
        </p>
      </section>

      <section>
        <h2>当サイトの運営者</h2>
        <p>
          当サイトは <a href="https://twitter.com/PND_vt">PND</a> が個人的に開発・運営しています。
        </p>
      </section>
    </main>
  </div>
</app-container>
