<form [formGroup]="formGroup" fxLayout="column">
  <mat-form-field appearance="standard">
    <mat-label>タイトル</mat-label>
    <input
      matInput
      placeholder="プレイリストの名前"
      formControlName="title"
      autocomplete="off"
    >
    <mat-error>タイトルを入力してください</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>公開設定</mat-label>
    <mat-select formControlName="visibility">
      <mat-option value="public">
        <mat-icon fontSet="mdi" fontIcon="mdi-eye"></mat-icon>
        <span>公開</span>
      </mat-option>
      <mat-option value="limited">
        <mat-icon fontSet="mdi" fontIcon="mdi-eye-off"></mat-icon>
        <span>限定公開</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-button type="submit" color="primary" (click)="onSubmit()">作成</button>
  </div>
</form>
