<div class="container" fxLayout="column">
  <mat-toolbar fxFlex="none" fxLayoutAlign="space-between center">
    <div class="toolbar-text">
      <div class="playlist-title">{{playlist?.title}}</div>
      <div class="playlist-owner-name">{{playlist?.owner.name}}</div>
    </div>

    <div>
      <ng-container *ngIf="user | async as user">
        <button
          mat-icon-button
          matTooltip="プレイリストを編集"
          *ngIf="playlist?.owner?.id === user.id"
          [routerLink]="'/pl/edit/' + playlist.id"
        >
          <mat-icon fontSet="mdi" fontIcon="mdi-pencil"></mat-icon>
        </button>
      </ng-container>

      <button
        mat-icon-button
        matTooltip="Twitter で共有"
        shareButton="twitter"
        [description]="playlist?.title"
        tags="VTuber切り抜き #Splicer"
      >
        <mat-icon fontSet="mdi" fontIcon="mdi-twitter"></mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="toggleRepeat()"
        matTooltip="ループ再生"
      >
        <mat-icon
          fontSet="mdi" fontIcon="mdi-repeat"
          [color]="repeat.value ? 'primary' : undefined"
        ></mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="toggleShuffle()"
        matTooltip="シャッフル再生"
      >
        <mat-icon
          fontSet="mdi" fontIcon="mdi-shuffle"
          [color]="shuffle.value ? 'primary' : undefined"
        ></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-action-list fxFlex="initial">
    <button
      mat-list-item
      *ngFor="let clip of clips; index as i"
      [class.selected]="index === i"
      (click)="select(i)"
    >
      <img [src]="clip.thumbnailUrl">
      <div class="clip-title">{{ clip.title }}</div>
    </button>
  </mat-action-list>
</div>

