@import 'src/_variables';

$border-color: map-get($foreground, divider);
$selected-color: map-get($background, focused-button);

.container {
  max-height: 100%;
  border: 1px solid $border-color;
}

mat-toolbar {
  height: 50px;
  font-size: 1rem;
}

mat-action-list {
  overflow-y: auto;
}

[mat-list-item].selected {
  background-color: $selected-color;
}

[mat-list-item] {
  height: 56px !important;
}

[mat-list-item] + [mat-list-item] {
  margin-top: 3px;
}

[mat-list-item] img {
  height: 100%;
  margin-right: 10px;
}

[mat-list-item] .clip-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.toolbar-text {
  overflow: hidden;
}

.playlist-title {
  line-height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist-owner-name {
  line-height: 14px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
