<app-container>
  <div fxLayout="row" fxLayout.lt-md='column' fxLayoutGap="15px" id="clip-viewer-container">
    <ng-container *ngIf="(clip | async) as clip">
      <div fxFlex="0 0 70%" fxFlex.lt-md>
        <app-player [clip]="clip" (watched)="addWatchHistory(clip.id)"></app-player>
        <app-clip-info [clip]="clip"></app-clip-info>
      </div>

      <div fxFlex="0 0 30%" fxFlex.lt-md class="related-clips-container">
        <app-related-clips [clip]="clip"></app-related-clips>
      </div>
    </ng-container>
  </div>
</app-container>
