<app-container [sidenavOpened]="true">
  <div id="my-page-container">
    <h1>あなたが作成した切り抜き / プレイリスト</h1>

    <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="切り抜き">
        <ng-template matTabContent>
          <ng-container *ngIf="clips">
            <app-clips-grid-list [clipPages]="clips"></app-clips-grid-list>
          </ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="プレイリスト">
        <ng-template matTabContent>
          <ng-container *ngIf="playlists">
            <app-clips-grid-list [clipPages]="playlists"></app-clips-grid-list>
          </ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-container>
