@media (min-width: 960px) {
  #my-page-container {
    margin: 24px;
  }
}

mat-tab-group {
  height: 100%;
}

mat-tab-group ::ng-deep mat-tab-header {
  margin-bottom: 16px;
}

h1 {
  font-size: 20px;
}
