@import '~@angular/material/theming';

$list-item-height: 64px;


.mat-menu-item {
  font-size: 12px;
}

.mat-menu-item mat-icon {
  margin-right: 5px;
}

mat-list-item {
  height: $list-item-height !important;
}

mat-list-item + mat-list-item {
  margin-top: 10px;
}

mat-list-item img {
  height: $list-item-height;
  margin-right: 10px;
}

mat-list-item .clip-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-list-item a {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cdk-drag-preview {
  background-color: inherit;
  @include mat-elevation(24);
}

.cdk-drag-preview a {
  text-decoration: none;
  color: inherit;
}

.cdk-drag-preview .actions {
  display: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.drag-handle {
  margin-right: 10px;
  font-size: 16px;
  width: 16px;

  height: $list-item-height;
  line-height: $list-item-height;
  vertical-align: middle;

  cursor: grab;
}
