<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-list-item cdkDrag *ngFor="let clip of clips">
    <a matLine [href]="'/clip/' + clip.id" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        fontSet="mdi" fontIcon="mdi-drag-horizontal-variant"
        cdkDragHandle
        class="drag-handle"
      ></mat-icon>
      <img [src]="clip.thumbnailUrl">
      <div class="clip-title">{{ clip.title }}</div>
    </a>

    <div fxFlex="none" class="actions">
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="操作">
        <mat-icon fontSet="mdi" fontIcon="mdi-dots-vertical"></mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="clipRemoved.emit(clip)">
          <mat-icon fontSet="mdi" fontIcon="mdi-delete"></mat-icon>
          プレイリストから削除
        </button>

        <button mat-menu-item (click)="thumbnailChange.emit(clip)">
          <mat-icon fontSet="mdi" fontIcon="mdi-image"></mat-icon>
          プレイリストのサムネイルに設定
        </button>
      </mat-menu>
    </div>
  </mat-list-item>
</mat-nav-list>
