<!doctype html>
<html lang="ja">
<head>
  <title>Splicer</title>
  <meta charset="utf-8">
  <meta property="og:title" content="{{title}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="https://{{domain}}/{{entity}}/{{id}}"/>
  <meta property="og:site_name" content="Splicer"/>
  <meta property="og:image" content="{{{thumbnailUrl}}}"/>
  <meta name="twitter:card" content="player">
  <meta name="twitter:site" content="@Splicer_dev">
  <meta name="twitter:player" content="https://{{domain}}/{{entity}}/embed/{{id}}">
  <meta name="twitter:player:width" content="640">
  <meta name="twitter:player:height" content="360">
<body></body>
</html>
