<div *ngIf="user | async else notLoggedIn" class="container">
  <h1 mat-dialog-title>保存先</h1>

  <button mat-icon-button mat-dialog-close>
    <mat-icon fontSet="mdi" fontIcon="mdi-close"></mat-icon>
  </button>

  <mat-divider></mat-divider>

  <div mat-dialog-content *ngIf="myPlaylists | async as playlists">
    <mat-checkbox
      *ngFor="let playlist of playlists"
      [checked]="playlist.isClipSaved"
      [value]="playlist.id"
      (change)="addOrRemoveFromPlaylist($event)"
    >
      <span>{{ playlist.title}}</span>
    </mat-checkbox>
  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-content>
    <div [hidden]="isMakingPlaylist">
      <button mat-button class="add-playlist-button" (click)="openPlaylistMaker()">
        <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
        <span>プレイリストを新規作成</span>
      </button>
    </div>

    <div [hidden]="!isMakingPlaylist">
      <app-playlist-maker (submitted)="onPlaylistCreated($event)"></app-playlist-maker>
    </div>
  </div>
</div>

<ng-template #notLoggedIn>
  プレイリストを作成するにはログインが必要です
  <div mat-dialog-actions>
    <button mat-button (click)="signIn()" color="primary">ログイン</button>
    <button mat-button [matDialogClose]>閉じる</button>
  </div>
</ng-template>

