.container {
  font-size: 12px;
}

.container h1.mat-dialog-title {
  font-size: 1.4em;
  margin-bottom: 10px;
}

mat-divider {
  margin: 7px -24px;
}

[mat-dialog-close] {
  position: absolute;
  top: 18px;
  right: 24px;
}

.add-playlist-button {
  margin-left: -5px;
  padding-left: 0;
  padding-right: 0;
  font-size: inherit;
  font-weight: normal;
}

.add-playlist-button mat-icon {
  margin-right: 4px;
}

mat-checkbox {
  display: block;
}
