<app-container>
  <div
    fxLayout="row"
    fxLayout.lt-md='column'
    fxLayoutGap="24px"
    id="playlist-viewer-container"
  >
    <div fxFlex="70%" fxFlex.lt-md>
      <ng-container *ngIf="clip | async as clip">
        <app-player [clip]="clip" (ended)="loadNextClip()" (watched)="addWatchHistory()"></app-player>
        <app-clip-info [clip]="clip"></app-clip-info>
      </ng-container>
    </div>
    <div fxFlex="30%" fxFlex.lt-md="1 0 300px">
      <app-playlist-selector
        [playlist]="playlist | async"
        [clips]="clips | async"
        [index]="index.value"
        [repeat]="repeat"
        [shuffle]="shuffle"
        (indexChange)="selectClip($event)"
      ></app-playlist-selector>

      <div class="related-clips-container">
        <app-related-clips
          *ngIf="clip | async as clip"
          [clip]="clip"
        ></app-related-clips>
      </div>
    </div>
  </div>
</app-container>
