#playlist-viewer-container {
  min-width: 0;

  /* viewport height - navigation bar height - app container margin */
  height: calc(100vh - 56px - 24px);
}

@media (min-width: 960px) {
  #playlist-viewer-container {
    margin: 24px;
  }
}

.related-clips-container {
  margin-top: 32px;
  max-height: 70vh;
}
