<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon matListIcon fontSet="mdi" fontIcon="mdi-home"></mat-icon>
    <div matLine class="nav-caption">ホーム</div>
  </a>

  <a mat-list-item routerLink="/about">
    <mat-icon matListIcon fontSet="mdi" fontIcon="mdi-information"></mat-icon>
    <div matLine class="nav-caption">当サイトについて</div>
  </a>

  <a mat-list-item routerLink="/contact">
    <mat-icon matListIcon fontSet="mdi" fontIcon="mdi-message-alert"></mat-icon>
    <div matLine class="nav-caption">お問い合わせ</div>
  </a>

  <a mat-list-item routerLink="/privacy">
    <mat-icon matListIcon fontSet="mdi" fontIcon="mdi-shield-account"></mat-icon>
    <div matLine class="nav-caption">プライバシーポリシー</div>
  </a>
</mat-nav-list>
