<div matAutocompleteOrigin #origin="matAutocompleteOrigin">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let vtuber of value"
      selectable=false
      (removed)="removeSelection(vtuber)"
    >
      <mat-chip-avatar>
        <img class="avatar" [src]="vtuber.avatarUrl" [alt]="vtuber.name + ' プロフィールアイコン'"/>
      </mat-chip-avatar>
      <span>{{vtuber.name}}</span>
      <mat-icon matChipRemove fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
    </mat-chip>
    <input
      #vtuberInput
      [formControl]="inputFormControl"
      [matAutocomplete]="autoComplete"
      [matAutocompleteConnectedTo]="origin"
      [matChipInputFor]="chipList"
    >
  </mat-chip-list>
  <mat-autocomplete
    #autoComplete
    [displayWith]="display"
    (optionSelected)="addSelection($event)"
    autoActiveFirstOption=true
  >
    <mat-option *ngFor="let vtuber of filteredVTubers | async" [value]="vtuber">
      {{vtuber.name}}
    </mat-option>
  </mat-autocomplete>
</div>
