<app-container [sidenavOpened]="true">
  <div *ngIf="clips | async as clips" id="home-container">
    <h1>最新の切り抜き</h1>
    <app-clips-grid-list [clipPages]="clips"></app-clips-grid-list>
  </div>
</app-container>
