mat-card {
  width: 100%;
  padding-bottom: 0;
  box-sizing: border-box;

  background: inherit;
}

.mat-card-image {
  margin-bottom: 5px;
}

mat-card ::ng-deep mat-card-content {
  margin-left: -10px;
  margin-right: -10px;
}

mat-card .clip-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
