<mat-card class="mat-elevation-z0">
  <a [routerLink]="clip.url">
    <img mat-card-image [src]="thumbnailUrl">
  </a>
  <mat-card-content>
    <p class="clip-title"><a [routerLink]="clip.url">{{clip.title}}</a></p>
    <app-vtuber-chip [vtubers]="clip.vtubers"></app-vtuber-chip>
  </mat-card-content>
</mat-card>
