.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  max-height: 100%;
  overflow-y: auto;
}

.progress-spinner-container {
  overflow: hidden;
  margin: auto;
}
