<div appInfiniteScrollContainer class="grid-container" (loading)="isLoading.next($event)">
  <div *appInfiniteScroll="let clip of clipPages">
    <app-clip-card [clip]="clip"></app-clip-card>
  </div>

  <div *ngIf="isLoading.value" class="progress-spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
