<app-container sidenavOpened=true>
  <div class="main-background">
    <main>
      <h1>プライバシーポリシー</h1>
      <p>
        当サイトは以下の通り個人情報保護方針を定め、個人情報保護の仕組みを構築し、個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
      </p>

      <section>
        <h2>取得する個人情報</h2>
        <p>当サイトは Twitter API を通じて以下の情報を収集いたします。</p>
        <ul>
          <li>Twitter アカウントのプロフィール</li>
          <li>メールアドレス</li>
        </ul>
      </section>

      <section>
        <h2>個人情報の利用目的</h2>
        <p>本サービスが取得した各情報は、以下の目的で利用いたします。</p>
        <ul>
          <li>当サイトからのご連絡やご案内</li>
          <li>お問い合わせに対するご回答</li>
          <li>当サイト上でのユーザープロフィールの表示</li>
        </ul>
      </section>

      <section>
        <h2>個人情報の取り扱い</h2>
        当サイトは、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
        <ul>
          <li>ユーザーの同意がある場合</li>
          <li>当サービスが業務を委託する業者に対して開示する場合</li>
          <li>法令に基づき開示することが必要である場合</li>
        </ul>
      </section>

      <section>
        <h2>アクセス解析ツール</h2>
        <p>
          当サイトでは、アクセス解析ツール「Google アナリティクス」を利用しています。
          Google アナリティクスは Cookie を利用して、匿名のトラフィックデータを収集します。
          ユーザーはブラウザの設定により Cookie の送信を拒否することができます。
        </p>
      </section>

      <section>
        <h2>お問い合わせ</h2>
        <a routerLink="/contact">お問い合わせページ</a>をご参照ください。
      </section>

      <section>
        <h2>改定履歴</h2>
        <ul>
          <li>
            <span class="revision-date">2020/03/06</span>
            <span class="revision-content">制定</span>
          </li>
        </ul>
      </section>
    </main>
  </div>
</app-container>
