#clip-info-container {
  margin-top: 10px;
}

@media (max-width: 959px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#clip-title {
  margin-top: 5px;
  margin-bottom: 0;
}

#clip-title h1 {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
}

.button-with-icon mat-icon {
  margin-right: 7px;
}

mat-divider {
  margin: 10px 0;
}

img.avatar {
  --avatar-size: 100%;

  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.owner-avatar {
  --avatar-size: 2rem;

  height: var(--avatar-size);
  width: var(--avatar-size);
}

.description {
  white-space: pre-wrap;
}

.created-date mat-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.view-count {
  margin-left: 10px;
}

.view-count mat-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
