<div fxLayout="column" id="clip-info-container">
  <app-vtuber-chip [vtubers]="clip?.vtubers"></app-vtuber-chip>

  <div id="clip-title" class="container">
    <h1>{{ clip?.title }}</h1>
  </div>

  <div id="toolbar" fxLayoutAlign="space-between center" class="container">
    <div>
      <span class="created-date">
        <mat-icon fontSet="mdi" fontIcon="mdi-clock-outline"></mat-icon>
        {{ clip?.createdAt | date: 'yyyy/MM/dd' }}
      </span>
      <span class="view-count">
        <mat-icon fontSet="mdi" fontIcon="mdi-eye"></mat-icon>
        {{ clip?.views }}
      </span>
    </div>

    <div id="actions">
      <div fxLayout="row">
        <button mat-button
                class="button-with-icon"
                matTooltip="Twitter で共有"
                shareButton="twitter"
                [description]="clip?.title"
                [url]="clipUrl"
                tags="VTuber切り抜き #Splicer">
          <mat-icon fontSet="mdi" fontIcon="mdi-twitter"></mat-icon>
          <span>共有</span>
        </button>

        <button mat-button class="button-with-icon" matTooltip="プレイリストに保存" (click)="openDialog()">
          <mat-icon fontSet="mdi" fontIcon="mdi-playlist-plus" style="font-size: 29px;"></mat-icon>
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="card" fxLayout="column" class="container">
    <div class="owner-info" fxLayout="row" fxLayoutGap="10px">
      <div class="owner-avatar">
        <div *ngIf="clip?.owner">
          <img class="avatar" [src]="clip?.owner?.avatarUrl" [alt]="clip?.owner?.name + ' プロフィールアイコン'"/>
        </div>
        <div *ngIf="!(clip?.owner)">
          <mat-icon fontSet="mdi" fontIcon="mdi-account-circle" style="font-size: 32px;"></mat-icon>
        </div>
      </div>
      <div class="owner-name" fxLayout="column" fxLayoutAlign="center">
        {{ clip?.owner?.name || 'ゲスト' }}
      </div>
    </div>
    <div class="description" fxLayout="row">
      <p>{{ clip?.description }}</p>
    </div>
  </div>

  <mat-divider></mat-divider>
</div>
