<app-container sidenavOpened=true>
  <div id="clip-maker-container">
    <mat-vertical-stepper #stepper linear=true>
      <ng-template matStepperIcon="edit">
        <mat-icon fontSet="mdi" fontIcon="mdi-pencil"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon fontSet="mdi" fontIcon="mdi-check"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="urlGroup">
        <ng-template matStepLabel>元動画の URL を入力</ng-template>
        <form [formGroup]="urlGroup">
          <mat-form-field>
            <mat-label>動画 URL</mat-label>
            <input
              matInput
              formControlName="videoUrl"
              autocomplete="off"
              placeholder="https://www.youtube.com/watch?v=..."
            >

            <mat-error>
              正しい形式の URL を入力してください
            </mat-error>
          </mat-form-field>

          <button mat-button matStepperNext mat-stroked-button>次へ</button>
        </form>
      </mat-step>


      <mat-step [stepControl]="formGroup">
        <ng-template matStepLabel>切り抜きの情報を入力</ng-template>

        <div>
          <ng-container *ngIf="clipChanges | async as clip">
            <ng-container *ngIf="stepper.selectedIndex === 1">
              <app-player [clip]="clip"></app-player>
            </ng-container>
          </ng-container>
        </div>

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div fxFlexAlign="column">
            <div fxLayoutAlign="space-between center" formGroupName="timeRange">
              <div>
                <mat-form-field class="time-range-input">
                  <mat-label>開始時刻</mat-label>
                  <app-time-input-field
                    formControlName="startSeconds"
                    [errorStateMatcher]="timeRangeErrorMatcher"
                  >
                  </app-time-input-field>
                  <button mat-button matSuffix mat-icon-button type="button" (click)="setStartSeconds()">
                    <mat-icon
                      fontSet="mdi" fontIcon="mdi-chevron-triple-down"
                      matTooltip="動画の現在時刻をセット"
                    ></mat-icon>
                  </button>
                  <mat-error></mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="time-range-input">
                  <mat-label>終了時刻</mat-label>
                  <app-time-input-field
                    formControlName="endSeconds"
                    [errorStateMatcher]="timeRangeErrorMatcher"
                  ></app-time-input-field>
                  <button mat-button matSuffix mat-icon-button type="button" (click)="setEndSeconds()">
                    <mat-icon
                      fontSet="mdi" fontIcon="mdi-chevron-triple-down"
                      matTooltip="動画の現在時刻をセット"
                    ></mat-icon>
                  </button>
                  <mat-error>終了時刻を開始時刻より後に設定してください</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div>
              <mat-form-field>
                <mat-label>切り抜きのタイトル</mat-label>
                <input
                  matInput
                  formControlName="title"
                  autocomplete="off"
                >

                <mat-error>
                  必須項目を入力してください
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>サムネイル画像</mat-label>
                <ngx-mat-file-input
                  formControlName="thumbnail"
                  accept=".jpg,.jpeg,.png,.gif,.bmp"
                ></ngx-mat-file-input>
                <mat-icon matSuffix fontSet="mdi" fontIcon="mdi-image"></mat-icon>
              </mat-form-field>
              <image-cropper
                *ngIf="thumbnailFile | async as thumbnail"
                [imageFile]="thumbnail"
                [autoCrop]="true"
                [maintainAspectRatio]="true"
                [resizeToWidth]="1280"
                [onlyScaleDown]="true"
                [aspectRatio]="16 / 9"
                format="jpeg"
                (imageCropped)="imageCropped($event)"
                (loadImageFailed)="loadImageFailed()"
              ></image-cropper>
            </div>

            <div>
              <mat-form-field>
                <mat-label>切り抜きの概要を説明する文章</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                ></textarea>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>公開設定</mat-label>
                <mat-select formControlName="visibility">
                  <mat-option value="public">
                    <mat-icon fontSet="mdi" fontIcon="mdi-eye"></mat-icon>
                    <span>公開</span>
                  </mat-option>
                  <mat-option value="limited">
                    <mat-icon fontSet="mdi" fontIcon="mdi-eye-off"></mat-icon>
                    <span>限定公開</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>VTuber を選択</mat-label>
                <app-multi-select formControlName="vtubers"></app-multi-select>
                <mat-error>VTuber を 1 人以上 10 人以下選択してください</mat-error>
              </mat-form-field>
            </div>

            <div>
              <button type="submit" mat-stroked-button>送信</button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</app-container>
