#clip-maker-container {
  max-width: 700px;
  margin: auto;
}

@media (min-width: 960px) {
  #clip-maker-container {
    margin-top: 24px;
  }
}

mat-form-field {
  width: 100%;
}

app-player {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}

.time-range-input {
  width: 160px;
}

image-cropper {
  padding: 0;
  margin-bottom: 24px;
}
