<app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="sidenavMode$ | async"
               [opened]="sidenavOpened$ | async">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
