mat-chip-list {
  width: 100%;
}

mat-chip-list a {
  text-decoration: none;
  color: inherit
}

mat-chip:hover {
  cursor: pointer;
}

img.avatar {
  --avatar-size: 100%;

  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

mat-chip-list ::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap;
  width: 100%;
}

.chip-container {
  flex: none;
}
