<perfect-scrollbar [config]="scrollConfig">
  <mat-chip-list selectable=false>
    <a *ngFor="let vtuber of vtubers" [href]="'https://www.youtube.com/channel/' + vtuber.youtubeId"
       class="chip-container">
      <mat-chip>
        <mat-chip-avatar>
          <img class="avatar" [src]="vtuber.avatarUrl" [alt]="vtuber.name + ' プロフィールアイコン'"/>
        </mat-chip-avatar>
        <span>{{ vtuber.name }}</span>
      </mat-chip>
    </a>
  </mat-chip-list>
</perfect-scrollbar>
